.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 20px;
    background-color: #000000;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #000000;
;
}
.footer-logo p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.footer-logo img{
    width: 150px;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 40px;
    color: #ffffff;
    font-size: 16px;
}

.footer-links li{
    cursor: pointer;
}

.footer-links li:hover{
    cursor: pointer;
    color:aqua;
}

.footer-social-icon{
    display: flex;
    gap: 10px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #ffffff76;
    border: 1px solid #ebebeb;
}

.footer-icons-container:hover{
    padding: 10px;
    padding-bottom: 6px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.footer-icons-container img{
    width: 25px;
}


.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 16px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #7ff6ff;
}
@media(max-width:800px){
    .footer-links{
        gap: 20px;
        font-size: 14px;
    }
}