.banner {
  width: 100%;
  overflow:auto;
  background-color: rgba(70, 70, 70, 0.66);
  font-size: 10px;
}

.content {
  display: inline-block;
  white-space: nowrap;
  transition: transform 0.4s ease-in-out;
}
